{% extends 'layout-fullwidth.twig' %}

{% block content %}
    {% if q.action == 'edit' or q.action == 'delete' or q.action == 'unpublish' or q.action == 'publish' or q.action == 'delete-thumbnail'%}
        {{ wp.aviators_submission_render_edit(q.id)|raw }}
    {% elseif q.action == 'add' %}
        {{ wp.aviators_submission_render_add()|raw }}
    {% else %}
        {{ wp.aviators_submission_render_index()|raw }}
    {% endif %}
{% endblock %}